{% extends 'adminbase.html.twig' %}

{% block body %}
    {#<div class="row">#}
        {#<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">#}
            {#<div class="dashboard-stat dashboard-stat-v2 blue">#}
                {#<div class="visual">#}
                    {#<i class="fa fa-comments"></i>#}
                {#</div>#}
                {#<div class="details">#}
                    {#<div class="number">#}
                        {#<span data-counter="counterup" data-value="60">0</span>#}
                    {#</div>#}
                    {#<div class="desc">Usuários</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        {#<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">#}
            {#<a href="#" class="dashboard-stat dashboard-stat-v2 red">#}
                {#<div class="visual">#}
                    {#<i class="fa fa-comments"></i>#}
                {#</div>#}
                {#<div class="details">#}
                    {#<div class="number">#}
                        {#<span data-counter="counterup" data-value="66">0</span>#}
                    {#</div>#}
                    {#<div class="desc">Módulos</div>#}
                {#</div>#}
            {#</a>#}
        {#</div>#}

        {#<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">#}
            {#<div class="dashboard-stat dashboard-stat-v2 green">#}
                {#<div class="visual">#}
                    {#<i class="fa fa-comments"></i>#}
                {#</div>#}
                {#<div class="details">#}
                    {#<div class="number">#}
                        {#<span data-counter="counterup" data-value="75">0</span>#}
                    {#</div>#}
                    {#<div class="desc">Aulas</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        {#<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">#}
            {#<div class="dashboard-stat dashboard-stat-v2 yellow">#}
                {#<div class="visual">#}
                    {#<i class="fa fa-comments"></i>#}
                {#</div>#}
                {#<div class="details">#}
                    {#<div class="number">#}
                        {#<span data-counter="counterup" data-value="105">0</span>#}
                    {#</div>#}
                    {#<div class="desc">E-mails na lista de newsletter</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

{% endblock %}