{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <section class="row content-section">
            <div class="col-xs-12">
                <h2>Listagem de livros</h2>

                {{ include('Partials/book-list.html.twig', {'books': books}) }}
            </div>
        </section>
    </main>
{% endblock %}