{% extends 'adminbase.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="portlet light tasks-widget bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green-haze bold uppercase">Adicionar autor</span>
                    </div>
                </div>

                <div class="portlet-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>

            <a class="btn btn-default" href="{{ path('author_index') }}">Voltar para a lista</a>
        </div>
    </div>
{% endblock %}