{% extends 'adminbase.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Novo autor</h1>

            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}

            <ul>
                <li>
                    <a href="{{ path('author_index') }}">Voltar para a listagem</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
