{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <section class="row content-section">
            <div class="col-xs-12">
                <h2>Listagem de autores</h2>

                {{ include('Partials/author-list.html.twig', {'authors': authors}) }}
            </div>
        </section>
    </main>
{% endblock %}